body {
  background: linear-gradient(to top, #729cd3 0%, #3e73b8 100%);
  color: #2e2e30;
  font-family: Times, Times New Roman, serif;
}
h1 {
  text-decoration: underline 1px;
  font-size: 50px;
  color: white;
  font-weight: 500;
}
a {
  color: #2e2e30;
  padding: 5px;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  text-align: center;
  margin: 50px auto;
}
.App-footer {
  color: rgba(255, 255, 255, 0.671);
  padding-left: 30px;
  font-size: 15px;
  margin-top: 30px;
}
